import endpoint
    import invalid_host*

    reverse_proxy /system/* {$AUTOUPDATE_HOST}:{$AUTOUPDATE_PORT} {
        flush_interval -1
    }

    @server {
        path /apps/*
        path /rest/*
        path /server-version.txt
    }
    reverse_proxy @server {$SERVER_HOST}:{$SERVER_PORT}

    reverse_proxy /media/* {$MEDIA_HOST}:{$MEDIA_PORT}

    reverse_proxy /prometheus/* prometheus:9090

    reverse_proxy {$CLIENT_HOST}:{$CLIENT_PORT}
}

import redirect*
